<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>playgrounddo</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Suisse BP Int'l Antique Italic.otf</string>
		<string>Suisse BP Int'l Antique.otf</string>
		<string>Suisse BP Int'l Black Italic.otf</string>
		<string>Suisse BP Int'l Black.otf</string>
		<string>Suisse BP Int'l Bold Italic.otf</string>
		<string>Suisse BP Int'l Bold.otf</string>
		<string>Suisse BP Int'l Light Italic.otf</string>
		<string>Suisse BP Int'l Light.otf</string>
		<string>Suisse BP Int'l Medium Italic.otf</string>
		<string>Suisse BP Int'l Medium.otf</string>
		<string>Suisse BP Int'l Regular Italic.otf</string>
		<string>Suisse BP Int'l Regular.otf</string>
		<string>Suisse BP Int'l Thin Italic.otf</string>
		<string>Suisse BP Int'l Thin.otf</string>
		<string>Suisse BP Int'l UltraLight Italic.otf</string>
		<string>Suisse BP Int'l UltraLight.otf</string>
		<string>SuisseWorks-Bold.otf</string>
		<string>SuisseWorks-BoldItalic.otf</string>
		<string>SuisseWorks-Book.otf</string>
		<string>SuisseWorks-BookItalic.otf</string>
		<string>SuisseWorks-Medium.otf</string>
		<string>SuisseWorks-MediumItalic.otf</string>
		<string>SuisseWorks-Regular.otf</string>
		<string>SuisseWorks-RegularItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
